@using Application.Administrative.Dto
@model PagerModel
@{
    ViewData["Title"] = "User";
}
@if (ViewBag.Alert != null)
{
    <partial name="Alert" model="(AlertViewModel)ViewBag.Alert" />
}

@if (!User.IsInRole("Admin"))
{
    <p style="color: red;">Usuário sem permissão de acesso.</p>
    <div style="display:block; position:absolute; height:100%; width:100%;"></div>

}
<partial name="_TopBarPartial"  model="Model" />
<div class="text-center border border-2 border-dark rounded-2">
    <table class="table table-striped table-dark mb-0">
        <thead>
            <tr>
                <th scope="col" class="visually-hidden">Id</th>
                <th scope="col" class="text-start">
                    <a asp-action="Index" asp-route-sortExpression="@(Model.SortModel.SortParamName.ToString().Replace("_desc", "") !="name" ? "name_desc" : Model.SortModel.SortParamName)" asp-route-SearchText="@Model.SearchText">
                        <i class="@(Model.SortModel.SortParamName.ToString().Replace("_desc", "") == "name" ? Model.SortModel.SortIcon : "bi bi-sort-alpha-up")">Nome</i>
                    </a>
                </th>
                <th scope="col" class="text-start">
                    <a asp-action="Index" asp-route-sortExpression="@(Model.SortModel.SortParamName.ToString().Replace("_desc", "") != "email" ? "email_desc" : Model.SortModel.SortParamName)" asp-route-SearchText="@Model.SearchText">
                        <i class="@(Model.SortModel.SortParamName.ToString().Replace("_desc", "") == "email" ? Model.SortModel.SortIcon : "bi bi-sort-alpha-up")">Email</i>
                    </a>
                </th>
                <th scope="col" class="text-start">
                    <a asp-action="Index" asp-route-sortExpression="@(Model.SortModel.SortParamName.ToString().Replace("_desc", "") !="description" ? "description_desc" : Model.SortModel.SortParamName)" asp-route-SearchText="@Model.SearchText">
                        <i class="@(Model.SortModel.SortParamName.ToString().Replace("_desc", "") == "description" ? Model.SortModel.SortIcon : "bi bi-sort-alpha-up")">Perfil</i>
                    </a>
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        @if (User.IsInRole("Admin"))
        {
            <tbody>
                @foreach (var item in Model.GetItems<AdminAccountDto>())
                {
                    <tr>
                        <td class="visually-hidden">@item.Id</td>
                        <td class="text-start">@item.Name</td>
                        <td class="text-start">@item.Email</td>
                        <td class="text-start">@item.PerfilType</td>
                        <td class=" w-auto text-center">
                            <a type="button" class="btn btn-outline-warning rounded-circle p-2 border border-2 border-secondary" data-toggle="tooltip" data-placement="bottom" title="Editar usuário" href="@Url.Action("Edit", "User", new { Id = item.Id })">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a type="button" class="btn btn-outline-danger rounded-circle p-2 border border-2 border-secondary" data-toggle="tooltip" data-placement="bottom" title="Excluir usuário" href="@Url.Action("Delete", "User", item)">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>
