@using Application.Streaming.Dto
@model PagerModel
@{
    ViewData["Title"] = "Genre";
}
@if (ViewBag.Alert != null)
{
    <partial name="Alert" model="(AlertViewModel)ViewBag.Alert" />
}

@if (ViewBag.LoginError != null)
{
    <p style="color: red;">@ViewBag.LoginError</p>
    <div style="display:block; position:absolute; height:100%; width:100%;"></div>

}
<partial name="_TopBarPartial" model="Model" />
<div class="text-center border border-2 border-dark rounded-2">
    <table class="table table-striped table-dark mb-0">
        <thead>
            <tr>
                <th scope="col" class="text-start">
                    <a asp-action="Index" asp-route-sortExpression="@(Model.SortModel.SortParamName.ToString().Replace("_desc", "") !="name" ? "name_desc" : Model.SortModel.SortParamName)" asp-route-SearchText="@Model.SearchText">
                        <i class="@(Model.SortModel.SortParamName.ToString().Replace("_desc", "") == "name" ? Model.SortModel.SortIcon : "bi bi-sort-alpha-up")">Nome</i>
                    </a>
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.GetItems<GenreDto>())
            {
                <tr>
                    <td class="text-start">@item.Name</td>
                    <td class=" w-auto text-center">
                        <a type="button" class="btn btn-outline-warning rounded-circle p-2 border border-2 border-secondary" data-toggle="tooltip" data-placement="bottom" title="Editar gênero" href="@Url.Action("Edit", "Genre", new { Id = item.Id })">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a type="button" class="btn btn-outline-danger rounded-circle p-2 border border-2 border-secondary" data-toggle="tooltip" data-placement="bottom" title="Excluir gênero" href="@Url.Action("Delete", "Genre", item)">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
