@using Application.Streaming.Dto
@model IEnumerable<GenreDto>
@{
    ViewData["Title"] = "Genre";
}
@if (ViewBag.Alert != null)
{
    <partial name="Alert" model="(AlertViewModel)ViewBag.Alert" />
}

@if (ViewBag.LoginError != null)
{
    <p style="color: red;">@ViewBag.LoginError</p>
    <div style="display:block; position:absolute; height:100%; width:100%;"></div>

}
<a type="button" class="btn btn-primary mb-2" role="button" asp-controller="Genre" asp-action="Create" >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
    </svg>
    Adicionar Gênero
</a>
<div class="text-center border border-2 border-dark rounded-2">
    <table class="table table-striped table-dark mb-0">
        <thead>
            <tr>
                <th scope="col" class="text-start">
                    <a asp-action="Index" asp-route-sortExpression="@(ViewData["SortParamName"].ToString().Replace("_desc", "") !="name" ? "name_desc" : ViewData["SortParamName"])">
                        <i class="@(ViewData["SortParamName"].ToString().Replace("_desc", "") == "name" ? ViewData["SortIcon"] : "bi bi-sort-alpha-up")">Nome</i>
                    </a>
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-start">@item.Name</td>
                    <td class=" w-auto text-center">
                        <a type="button" class="btn btn-outline-warning rounded-circle p-2 border border-2 border-secondary" data-toggle="tooltip" data-placement="bottom" title="Editar usuário" href="@Url.Action("Edit", "Genre", new { Id = item.Id })">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a type="button" class="btn btn-outline-danger rounded-circle p-2 border border-2 border-secondary" data-toggle="tooltip" data-placement="bottom" title="Excluir usuário" href="@Url.Action("Delete", "Genre", item)">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
